@page "/user/add"
@page "/user/edit/{userId:int}"
@using BlazorSQLServerWebApp.Shared.Models
@inject HttpClient Http
@inject NavigationManager NavigationManager

<PageTitle>Guestbook Sign-Up</PageTitle>

<h1>@Title</h1>
<p>Please complete the following fields</p>

<hr />
<EditForm Model="@user" OnValidSubmit="SaveUser">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label for="Name" class="form-label">Name</label>
        <div class="col-md-4">
            <InputText class="form-control" @bind-Value="user.Name" />
        </div>
        <ValidationMessage For="@(() => user.Name)" />
    </div>

    <div class="mb-3">
        <label for="Country" class="form-label">Country</label>
        <div class="col-md-4">
            <InputText class="form-control" @bind-Value="user.Country" />
        </div>
        <ValidationMessage For="@(() => user.Country)" />
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Sign Guestbook</button>
        <button class="btn btn-light" @onclick="Cancel">Cancel</button>
    </div>
</EditForm>
@code {
    [Parameter]
    public int userId { get; set; }
    protected string Title = "Guestbook";
    protected User user = new();
    protected override async Task OnParametersSetAsync()
    {
        if (userId != 0)
        {
            Title = "Edit";
            user = await Http.GetFromJsonAsync<User>("api/User/" + userId);
        }
    }
    protected async Task SaveUser()
    {
        if (user.Id != 0)
        {
            await Http.PutAsJsonAsync("api/User", user);
        }
        else
        {
            await Http.PostAsJsonAsync("api/User", user);
        }
        Cancel();
    }
    public void Cancel()
    {
        NavigationManager.NavigateTo("/fetchuserdetails");
    }
}