@page "/"

<PageTitle>Home</PageTitle>



<h1>About Me</h1>




<a href='https://postimg.cc/bd5JZCcb' target='_blank'><img src='https://i.postimg.cc/hPD7362C/67577851595-919-B8-C63-B27-E-48-D7-9191-4-C15-A017-BC80.jpg' border='0'width="300" height="400" alt='67577851595-919-B8-C63-B27-E-48-D7-9191-4-C15-A017-BC80'/></a>
<br>
<br>
<br>
<br>




<p>My name is Kyle Dudley and I'm originally from the Washington D.C area 
having lived both in Maryland and the District of Columbia during my formative and
teenage years. I came to Europe while touring as a musician and 
automatically fell in love with the different cultures. I decided to reside in
Copenhagen and attended Copenhagen Hospitality College where I learned the French standard
of cooking (Nouvelle Cuisine). Afterwards, I went on to work as a chef in various 
restaurants before starting a business where I offered fine-dining services in people's homes.</p> 

<p>I began writing code for a hobby in 2018 then a year later started attending KEA
(Copenhagen School of Design and Technolgy) in Denmark where I began my journey into the world of business, 
information systems and cloud computing. At Copenhagen School of Design and Technolgy, I gained a solid foundation
consisting of modern key concepts, relevant technologies, strategies and best practices related to IT in a predominantly
hands-on learning environment where the primary programming language was Python. While interning, I became skillfull 
at writing parameterized tests and proficient with Selenium, xUnit, AWS EC2, .Net Framework, ASP.Core, MVC Framework and
Docker.</p>

<p>In my sparetime I love to travel, excerise, find rare 90's underground hip-hop 12'inch vinyl records,
spend time with family, cook, explore the latest technolgies and create software. I'll be adding new functionality
and features to this website on a consistent basis so stop by every now and then to see whats new.</p>

<p>Before exiting my website, please sign my guestbook by leaving your name and country.</p>
<p>Thanks and take care.</p>




<br>
<br>